@font-face {
    font-family: "Sour Gummy", sans-serif;
    font-weight: 400;
    src: url('assets/fonts/static/SourGummy_Expanded-Regular.ttf') format('ttf');
    
}
@font-face {
    font-family: "Sour Gummy", sans-serif;
    font-weight: 700;
    font-style: italic;
    src: url('assets/fonts/static/SourGummy-italic.ttf') format('ttf');
    
}
*{
    margin: 0;
    padding: 0;
}


:root{
    --main-color: #141414;
    --secondary-color: #212121;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: var(--main-color);
    }
  }

  body{
    /* font-weight: 300 !important; */
    font-family: "Sour Gummy", sans-serif;
    background-color: var(--main-color);
    color: white;
  }

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }

  .category-section{
    background: var(--secondary-color);
    border-radius: 18px;
    width: 20%;
    height: 80px;
    line-height: 80px;
    text-align: center;
  }

  .option{
    height: 80px;
    line-height: 80px;
    text-align: center;
    background: var(--secondary-color);
    border-radius: 18px;
    margin-bottom: 5px;
  }

  span{
    height: 100%;
    display: inline-block;
  }

